@use '@/styles/colors' as *;

.modalContent {
  width: 520px;
  background-color: $white;
  border-radius: 20px;
}

.tableTitle {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: $black;
}

.body {
  padding: 24px 32px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer {
  padding: 20px 32px 28px;
}

.footerButtons {
  display: flex;
  gap: 20px;
  width: 100%;
}

.footerButton {
  flex: 1;
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 640px) {
  .modalContent {
    width: 100%;
  }

  .body {
    padding: 24px;
  }

  .footer {
    padding: 20px 24px 24px;
  }

  .footerButtons {
    flex-direction: column;
  }
}
