/* =========================
    Primary
========================= */
$primary-10: #d1f3ff;
$primary-20: #a4e3ff;
$primary-30: #76cdff;
$primary-40: #54b8ff;
$primary-50: #1c95ff;
$primary-60: #1473db;
$primary-70: #0e56b7;
$primary-80: #083c93;
$primary-90: #052a7a;

/* =========================
    Green
========================= */
$green-10: #f5fccd;
$green-20: #e8f99d;
$green-30: #d3ee6a;
$green-40: #bade44;
$green-50: #98c910;
$green-60: #7dac0b;
$green-70: #659008;
$green-80: #4d7405;
$green-90: #3d6003;

/* =========================
    Yellow
========================= */
$yellow-10: #fff6cf;
$yellow-20: #ffeb9f;
$yellow-30: #ffdc70;
$yellow-40: #ffce4c;
$yellow-50: #ffb711;
$yellow-60: #db960c;
$yellow-70: #b77708;
$yellow-80: #935b05;
$yellow-90: #7a4703;

/* =========================
    Red
========================= */
$red-10: #ffe7d9;
$red-20: #ffc9b3;
$red-30: #ffa48d;
$red-40: #ff8171;
$red-50: #ff4842;
$red-60: #db3039;
$red-70: #b72136;
$red-80: #931531;
$red-90: #7a0c2e;

/* =========================
    Gray
========================= */
$gray-10: #f4f4f4;
$gray-20: #d9d9d9;
$gray-30: #bebebf;
$gray-40: #a3a3a4;
$gray-50: #888889;
$gray-60: #6d6d6e;
$gray-70: #525254;
$gray-80: #373739;
$gray-90: #1c1c1e;

/* =========================
    Base
========================= */
$white: #ffffff;
$black: #000000;
$background: #fafafa;

/* =========================
    Grayscale (semantic)
========================= */
$grayscale-10: #f4f4f4;
$grayscale-20: #c6c6c6;
$grayscale-30: #aeaeae;
$grayscale-40: #8e8e93;
$grayscale-50: #636366;
$grayscale-60: #48484a;
$grayscale-70: #363639;
$grayscale-80: #2c2c2e;
$grayscale-90: #1c1c1e;
