@use '@/styles/colors' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.triggerButton.triggerButton {
  gap: 8px;
}

.triggerIcon {
  width: 18px;
  height: 18px;
  color: inherit;
}

.triggerIcon path {
  fill: currentColor;
}
