@use '@order-ping/shared/styles/colors' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px 80px 0px;
}
.logo {
  text-decoration: none;
}
.nav {
  display: flex;
  gap: 40px;
}
.navItem {
  text-decoration: none;
  color: $black;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    color: $primary-50;
  }
}

.navItemActive {
  color: $primary-50;
  font-weight: 600;
}
