@use "@order-ping/shared/styles/colors" as *;

.cart {
  width: 100%;
  max-width: 560px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: $gray-10;
  padding-bottom: 96px;

  &__header {
    position: sticky;
    top: 0;
    z-index: 10;
    height: 74px;
    padding: max(20px, env(safe-area-inset-top)) 16px 12px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__backButton {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: transparent;
    color: $gray-90;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__title {
    margin: 0;
    color: $black;
    font-size: 20px;
    font-weight: 600;
  }

  &__spacer {
    width: 36px;
    height: 36px;
  }

  &__content {
    background-color: $white;
    min-height: calc(100vh - 170px);
  }

  &__emptyState {
    padding: 28px 24px;
    color: $gray-60;
    font-size: 16px;
  }

  &__item {
    position: relative;
    padding: 20px 24px;
    border-top: 1px solid $gray-10;
  }

  &__infoContainer {
    display: flex;
    justify-content: space-between;
  }

  &__removeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    color: $white;
    background-color: $gray-20;
    font-size: 16px;
    cursor: pointer;
  }

  &__itemName {
    color: $black;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__itemPrice {
    color: $black;
    font-size: 16px;
    font-weight: 700;
  }

  &__quantityControl {
    margin-top: 10px;
    margin-left: auto;
  }

  &__addMoreButton {
    width: 100%;
    padding: 16px 0;
    border-top: 1.6px solid $gray-10;
    color: $primary-50;
    background-color: $white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  &__bottom {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    max-width: 560px;
    background-color: $gray-10;
    padding: 10px 24px calc(16px + env(safe-area-inset-bottom));
  }

  &__orderButton {
    width: 100%;
    height: 56px;
    border-radius: 16px;
    color: $white;
    background-color: $primary-50;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;

    &:disabled {
      background-color: $gray-40;
      cursor: not-allowed;
    }
  }

  &__orderCount {
    min-width: 26px;
    height: 26px;
    border-radius: 9px;
    background-color: $white;
    color: $primary-50;
    font-size: 16px;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 6px;
  }
}
